.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin-top: 20px;
}

.blocksWrapper {
  display: flex;
  flex-direction: column;
  gap: 110px;
}
