.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--badges);
  max-width: 1440px;
  height: 68px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 900;
  font-size: 18px;
  color: var(--main);
  text-decoration: none;
  font-family: var(--font-family);
}

.accent {
  color: var(--button);
}

.links {
  display: flex;
  gap: 24px;
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--button-hover);
}

.active {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--button-hover);
}
