:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 1.25;
  font-weight: 500;

  margin: 0;

  color: var(--main);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  color: var(--white);
  background-color: var(--button);
  border-radius: 12px;
  transition:
    background-color 0.25s,
    transform 0.25s;
}

button:hover {
  background-color: var(--button-hover);
  transform: scale(1.1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  box-sizing: border-box;
}
